In [46]:
# Tipos de variáveis - string
a = 'Guilherme '
b = a + 'gente fina'
print(b)

Guilherme gente fina

In [47]:
# Tipos de variáveis - inteira

c = 1
d = c +10
print(d)
print(type(d))

11
<class 'int'>

In [48]:
# Tipos de variáveis - float

f = 10.5
g = f*2
h = f**2
print('valor de g = '+str(g) + ' e o valor de h = '+ str(h))
print(type(h))
f = int(f)
print('Valor de f = '+str(f)+ ' do tipo = ' + str(type(f)))
f = float(f)
print('Valor de f = '+str(f)+ ' do tipo = ' + str(type(f)))

valor de g = 21.0 e o valor de h = 110.25
<class 'float'>
Valor de f = 10 do tipo = <class 'int'>
Valor de f = 10.0 do tipo = <class 'float'>

In [49]:
#Exemplo dicionário

dicionario = {
    'alunos':['Guilherme', 'Flavia', 'Lucas'],
    'notas':[3, 6, 6]
}

print(dicionario['alunos'])
print(dicionario['notas'])
print(type(dicionario['notas']))

['Guilherme', 'Flavia', 'Lucas']
[3, 6, 6]
<class 'list'>

In [50]:
# Treinando Loop
for ii,aluno in enumerate(dicionario['alunos']):
    print(str(ii) + ' '+ aluno + ' nota = ' + str(dicionario['notas'][ii])) 
print(' ')
for ii in range(0,len(dicionario['alunos'])):
    print(str(ii) + ' '+ str(dicionario['alunos'][ii]) + ' nota = ' + str(dicionario['notas'][ii]))

0 Guilherme nota = 3
1 Flavia nota = 6
2 Lucas nota = 6

0 Guilherme nota = 3
1 Flavia nota = 6
2 Lucas nota = 6

In [51]:
# Treinando loop com condição
for ii,aluno in enumerate(dicionario['alunos']):
    if aluno=='Guilherme':
        print(str(ii) + ' '+ aluno + ' nota = 10.0') 
    else:
        print(str(ii) + ' '+ aluno + ' nota = ' + str(dicionario['notas'][ii])) 

print(' ')

for ii,aluno in enumerate(dicionario['alunos']):
    if ii==2:
        print(str(ii) + ' '+ aluno + ' nota = 10.0') 
    else:
        print(str(ii) + ' '+ aluno + ' nota = ' + str(dicionario['notas'][ii]))

0 Guilherme nota = 10.0
1 Flavia nota = 6
2 Lucas nota = 6

0 Guilherme nota = 3
1 Flavia nota = 6
2 Lucas nota = 10.0

In [52]:
# Operações lógicas
a = 1
b = 3
c = 1
print(a==b) # Igual a - operação lógica
print(a==c)
print(a>b) # maior que 
print(a<b) # menor que 
print(a>=c) # maior igual que 
print(a!=b) # diferente de
print(a!=c) # diferente de

opTF = a!=c
print(type(opTF))

opT = True
opF = False

False
True
False
True
True
True
False
<class 'bool'>

In [53]:
dicionario = {
    'alunos':['Guilherme', 'Flavia', 'Lucas'],
    'notas':[9.5, 6, 6]
}

# Treinando loop com condição
for ii,aluno in enumerate(dicionario['alunos']):
    if (aluno=='Guilherme') and (dicionario['notas'][ii]<=9):
        print(str(ii) + ' '+ aluno + ' nota = 10.0') 
    else:
        print(str(ii) + ' '+ aluno + ' nota = ' + str(dicionario['notas'][ii]))

0 Guilherme nota = 9.5
1 Flavia nota = 6
2 Lucas nota = 6

In [54]:
# Treinando numpy
import numpy as np
# Convertendo para numpy
mat = np.array(dicionario['alunos'])
print(mat)
print(type(mat))

print('')
mat2 = np.array(mat=='Lucas')
print(mat2)
# Local da matriz com valor verdadeiro
print(np.where(mat2))

print('')
dicionario['notas'][int(np.where(mat2)[0])] = 9.5

['Guilherme' 'Flavia' 'Lucas']
<class 'numpy.ndarray'>

[False False  True]
(array([2], dtype=int64),)

C:\Users\pbeal\AppData\Local\Temp\ipykernel_19308\3449895344.py:15: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  dicionario['notas'][int(np.where(mat2)[0])] = 9.5

In [55]:
# Matriz numpy

vec = np.random.rand(100)
print(vec)
vec2 = np.sin(vec)
print(vec2)

[0.46840933 0.04935509 0.84614926 0.53469377 0.02940909 0.87889663
 0.37018006 0.86542099 0.39490261 0.34664271 0.56302459 0.86626815
 0.6342216  0.21986134 0.18952371 0.92954057 0.43584817 0.72537787
 0.55380475 0.52867107 0.55654783 0.83832757 0.93887993 0.7975037
 0.77803615 0.67184396 0.09282452 0.87265562 0.47142954 0.70889787
 0.25161387 0.97995332 0.69670042 0.57981676 0.66226784 0.46340774
 0.09835486 0.06634286 0.54273048 0.51476085 0.7880533  0.84080313
 0.14946648 0.11951825 0.60965554 0.42315401 0.2031133  0.15015427
 0.66827874 0.08009548 0.77967655 0.37475772 0.75586882 0.3976506
 0.99594143 0.87400284 0.30371344 0.94244015 0.08895546 0.21786029
 0.2467513  0.90326651 0.96809261 0.05321076 0.73381252 0.52704591
 0.08774063 0.17679202 0.89780341 0.81003742 0.21248735 0.42150111
 0.3745435  0.78517945 0.74797715 0.23891328 0.5079757  0.13353675
 0.51989464 0.15146403 0.51177507 0.74029562 0.47366167 0.42985638
 0.91747841 0.67318825 0.45915659 0.58350481 0.92068008 0.13989695
 0.63259541 0.90894344 0.43135274 0.78386968 0.98997207 0.08853806
 0.60618727 0.54579521 0.35737416 0.4305341 ]
[0.45146752 0.04933506 0.74873342 0.50957758 0.02940486 0.7700354
 0.3617833  0.76136827 0.3847183  0.33974213 0.53374637 0.76191723
 0.59255066 0.21809431 0.18839116 0.80134519 0.42217943 0.66341823
 0.52592708 0.50438629 0.52825817 0.74352579 0.80689699 0.71561467
 0.70188193 0.62243027 0.09269128 0.76603866 0.45416036 0.65099756
 0.24896734 0.83047137 0.64169053 0.54787066 0.61490685 0.44699904
 0.09819637 0.06629421 0.51647603 0.4923267  0.70898175 0.74517894
 0.14891058 0.11923391 0.57258509 0.41063831 0.2017196  0.14959067
 0.6196359  0.08000986 0.70304943 0.36604708 0.68592115 0.38725333
 0.83927121 0.76690394 0.29906574 0.80899486 0.08883819 0.21614098
 0.24425495 0.78535322 0.82380596 0.05318566 0.66970578 0.50298233
 0.0876281  0.1758725  0.7819596  0.72431298 0.21089196 0.40913064
 0.36584772 0.70695211 0.68015727 0.23664691 0.48640955 0.13314023
 0.4967887  0.15088556 0.48972566 0.67450619 0.45614787 0.41674025
 0.79407146 0.62348185 0.44319221 0.5509522  0.79601344 0.13944107
 0.59123994 0.78885484 0.41810001 0.70602516 0.83601065 0.08842243
 0.56973821 0.51909794 0.3498155  0.41735622]

In [56]:
# Datetime 

from datetime import datetime, timedelta

# Data inicial
start_date = datetime(2024, 1, 1)  # ano, mês, dia

# Lista para armazenar as datas
date_vector = []

# Gerar datas para uma semana
print(vec.shape)
for i in range(0,vec.shape[0]):
    date_vector.append(start_date + timedelta(days=i))

# Exibir as datas
for date in date_vector:
    print(date)

(100,)
2024-01-01 00:00:00
2024-01-02 00:00:00
2024-01-03 00:00:00
2024-01-04 00:00:00
2024-01-05 00:00:00
2024-01-06 00:00:00
2024-01-07 00:00:00
2024-01-08 00:00:00
2024-01-09 00:00:00
2024-01-10 00:00:00
2024-01-11 00:00:00
2024-01-12 00:00:00
2024-01-13 00:00:00
2024-01-14 00:00:00
2024-01-15 00:00:00
2024-01-16 00:00:00
2024-01-17 00:00:00
2024-01-18 00:00:00
2024-01-19 00:00:00
2024-01-20 00:00:00
2024-01-21 00:00:00
2024-01-22 00:00:00
2024-01-23 00:00:00
2024-01-24 00:00:00
2024-01-25 00:00:00
2024-01-26 00:00:00
2024-01-27 00:00:00
2024-01-28 00:00:00
2024-01-29 00:00:00
2024-01-30 00:00:00
2024-01-31 00:00:00
2024-02-01 00:00:00
2024-02-02 00:00:00
2024-02-03 00:00:00
2024-02-04 00:00:00
2024-02-05 00:00:00
2024-02-06 00:00:00
2024-02-07 00:00:00
2024-02-08 00:00:00
2024-02-09 00:00:00
2024-02-10 00:00:00
2024-02-11 00:00:00
2024-02-12 00:00:00
2024-02-13 00:00:00
2024-02-14 00:00:00
2024-02-15 00:00:00
2024-02-16 00:00:00
2024-02-17 00:00:00
2024-02-18 00:00:00
2024-02-19 00:00:00
2024-02-20 00:00:00
2024-02-21 00:00:00
2024-02-22 00:00:00
2024-02-23 00:00:00
2024-02-24 00:00:00
2024-02-25 00:00:00
2024-02-26 00:00:00
2024-02-27 00:00:00
2024-02-28 00:00:00
2024-02-29 00:00:00
2024-03-01 00:00:00
2024-03-02 00:00:00
2024-03-03 00:00:00
2024-03-04 00:00:00
2024-03-05 00:00:00
2024-03-06 00:00:00
2024-03-07 00:00:00
2024-03-08 00:00:00
2024-03-09 00:00:00
2024-03-10 00:00:00
2024-03-11 00:00:00
2024-03-12 00:00:00
2024-03-13 00:00:00
2024-03-14 00:00:00
2024-03-15 00:00:00
2024-03-16 00:00:00
2024-03-17 00:00:00
2024-03-18 00:00:00
2024-03-19 00:00:00
2024-03-20 00:00:00
2024-03-21 00:00:00
2024-03-22 00:00:00
2024-03-23 00:00:00
2024-03-24 00:00:00
2024-03-25 00:00:00
2024-03-26 00:00:00
2024-03-27 00:00:00
2024-03-28 00:00:00
2024-03-29 00:00:00
2024-03-30 00:00:00
2024-03-31 00:00:00
2024-04-01 00:00:00
2024-04-02 00:00:00
2024-04-03 00:00:00
2024-04-04 00:00:00
2024-04-05 00:00:00
2024-04-06 00:00:00
2024-04-07 00:00:00
2024-04-08 00:00:00
2024-04-09 00:00:00

In [57]:
# Criando dataframe e salvando
import pandas as pd

df = pd.DataFrame()
df['datas'] = date_vector
df['vec'] = vec
df['vec2'] = vec2
print(df)

# Salvando em uma pasta
pasta = r"C:\Users\pbeal\OneDrive\Documentos\GitHub\ENS5172_20241\tabelas"
df.to_csv(pasta+'/planilha.csv')

        datas       vec      vec2
0  2024-01-01  0.468409  0.451468
1  2024-01-02  0.049355  0.049335
2  2024-01-03  0.846149  0.748733
3  2024-01-04  0.534694  0.509578
4  2024-01-05  0.029409  0.029405
..        ...       ...       ...
95 2024-04-05  0.088538  0.088422
96 2024-04-06  0.606187  0.569738
97 2024-04-07  0.545795  0.519098
98 2024-04-08  0.357374  0.349816
99 2024-04-09  0.430534  0.417356

[100 rows x 3 columns]